{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Acceso{{ super() }}{% endblock %}
{% block content %}
    {{ super() }}
    <div class="vertical-center">
        <div class="container">
            <form method="POST" action="" class="form col-md-7 col-sm-12 mx-auto">
                <div class="card">
                <article class="card-body">
                    <h2 class="card-title text-center mb-4 mt-1">Lo Nuestro</h2>
                    <h5 class="card-title text-center mb-4 mt-1">Ingresa tu correo y tu contraseña</h5>
                    <hr>
                    <div class="form-group">
                        {{form.hidden_tag()}}
                        {% for field in form %}
                        {{ render_field(field) }}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block"> Acceder  </button>
                    </div>
                    <p class="text-center">
                        <a href="{{ url_for('register') }}" class="form_link">No tienes cuenta? Registrate!</a></p>
                </article>
                </div>
            </form>
        </div>
    </div>
{% endblock %}